<!DOCTYPE html>
<html>
  <head>
    <title>Camp Murderface game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        background: black
      }
      #phaser_game_container {
        max-width: 512px;
        margin: 0 auto
      }
    </style>
    <%= phaserScript %>
  </head>
  <body>
    <div id="phaser_game_container"></div>
  </body>
</html>